// footer
// -----------------------------------------
.rodape
	background cor-principal

// direitos
.direitos-container
	col(9)
	vertical-align(middle)
	display flex
	color #fff

@media screen and (max-width 635px)
	.direitos-container
		col(12)
		justify(center)
		padding 7px

// buscacarioca
.logo-busca-container
	col(3)
	vertical-align(middle)
	justify(right)
	display flex

@media screen and (max-width 635px)
	.logo-busca-container
		col(12)
		justify(center)
		padding 7px
