// footer
// -----------------------------------------
.rodape
	background cor-principal

// direitos
.direitos-container
	@extend $col-9
	@extend $vertical-align-middle
	display flex
	text-align center
	color #fff

@media screen and (max-width 635px)
	.direitos-container
		mq-col(9)
		mq-justify(center)
		padding 7px

// buscacarioca
.logo-busca-container
	@extend $col-3
	@extend $vertical-align-middle
	@extend $justify-right
	display flex

@media screen and (max-width 635px)
	.logo-busca-container
		mq-col(12)
		mq-justify(center)
		padding 7px
