.form {
	width: 100%;
	text-align: left;
	max-width:500px;
	margin:0 auto;
	margin-bottom 30px
}

.label {
	margin: 5px 1%;
  display: block;
  font-size: 20px;
}

.input-text {
  margin: 5px 1% ;
  border: 0;
  width: 98%;
  height: 40px;
  text-indent: 10px;
  color: #3A3939;
  border: 1px solid #ccc;
  font-size: 14px;
}

.required
	color: #fe37ba

.textarea {
	width:98%;
	padding: 10px;
  height:140px;
	border:0;
	margin: 5px 1%;
	resize: vertical;
  color:#3A3939;
  border: 1px solid #ccc;
  font-size: 14px;
}

.btn {
	border: 0;
	background: #5aa69c
	color: #fff;
	padding: 15px 30px;
	margin-top: 2em;
	display inline-block
  font-size:16px;
	margin 0 auto
  -webkit-transition: opacity.2s;
  transition: opacity .2s;
}

.btn:hover {
	opacity: .7;
	color: #fff;
}

.btn2 {
	border: 0;
	background: #d8de3f
	color: #06917f;
	padding: 15px 30px;
	margin-top: 0em;
	display inline-block
  font-size:16px;
	margin 0 auto
  -webkit-transition: opacity.2s;
  transition: opacity .2s;
}

.btn2:hover {
	opacity: .7;
	color: #06917f;
}
