// header
// -----------------------------------------
//logo
.logo-container
	@extend $col-3
	display flex
	@extend $vertical-align-middle
	@extend $justify-center

.logo-container img
	max-width 100%
	display block
	height auto

//menu
.menu
	@extend $col-9
	display flex
	@extend $vertical-align-middle
	@extend $justify-right

.menu ul
	list-style none
	margin 0
	padding 0

.menu ul li
	display inline-block

.menu ul li a
	text-decoration none
	display inline-block
	padding 10px
	color #000
	transition background-color .3s, color .3s

.menu ul li a:hover
	background-color cor-principal
	color #fff


@media screen and (max-width 480px)
	.logo-container
		mq-col(12)

	.menu
		mq-col(12)
		padding 0
		margin 0

	.menu ul
		mq-col(12)
		margin 0 auto
		display block

	.menu li
		mq-col(12)
		text-align center
		margin-top 5px

	.menu ul li a
		mq-col(12)
