// header
// -----------------------------------------
//logo
.logo-container
	col(3)
	display flex
	vertical-align(middle)
	justify(center)

//menu
.menu
	col(9)
	display flex
	vertical-align(middle)
	justify(right)

.menu ul
	list-style none
	margin 0
	padding 0

.menu ul li
	display inline-block

.menu ul li a
	text-decoration none
	display inline-block
	padding 10px
	color #000
	transition background-color .3s, color .3s

.menu ul li a:hover
	background-color cor-principal
