@charset "UTF-8"

// base
// -----------------------------------------
@import "base/normalize"
@import "base/flex-grid-framework"
// layout
// -----------------------------------------
@import "layout/footer"
@import "layout/form"

// global
// -----------------------------------------
body
	font-family 'Lato', sans-serif

.row
	row()
a
	text-decoration none
div, section, article, footer, nav, header, main
	border 1px dashed #0d0b8c

	// global
	// -----------------------------------------
ul.menu
	list-style none

.menu li
	display inline-block
	margin-left 1em

.banner
	row()
.flexslider
	col(12)

.logo-busca-container
	col(6)
	vertical-align(middle)
	justify(right)
	display flex

.direitos-container
	col(6)
	vertical-align(middle)
	display flex

.rodape
	background rgb(179, 179, 179)

@media screen and (max-width 635px)
	.logo-busca-container
		col(12)
		justify(center)
		padding 7px

	.direitos-container
		col(12)
		justify(center)
		padding 7px
