@charset "UTF-8"

// base
// -----------------------------------------
@import "base/normalize"
@import "base/flex-grid-framework"

// configs
// -----------------------------------------
cor-principal = #ef5734
slider-controler = #ef5734

// layout
// -----------------------------------------
@import "layout/header"
@import "layout/banner"
@import "layout/footer"
@import "layout/form"

// global
// -----------------------------------------
body
	font-family 'Lato', sans-serif
	background url('../img/bg.jpg') repeat center top

.row
	row()

div, section, article, footer, nav, header, main
	border 1px dashed #4ecb29

// index
// -----------------------------------------
.content
	col(10)
	offset(1)
	text-align center
	padding 60px 0

@media screen and (max-width 635px)
	.content
		col(12)
