@charset "UTF-8"

// base 
// -----------------------------------------
@import "base/normalize"
@import "base/flex-grid-framework"


// layout
// -----------------------------------------
@import "layout/footer"

// global
// -----------------------------------------

body
	font-family 'Roboto', sans-serif

// @media screen and (max-width 480px)
