div.topo-int
	div.row
		img(src="assets/img/logo.svg")
		nav
			ul.menu
				li
					a(href="index.html")
						|HOME
				li
					a(href="servicos.html")
						|SERVIÇOS
				//- li
				//- 	a(href="parceiro.html")
				//- 		|SEJA UM PARCEIRO
				li
					a(href="vantagens.html")
						|VANTAGENS
				li
					a(href="cursos.html")
						|CURSOS
				li
					a(href="contato.html")
						|CONTATO
      
