div.topo
	div.row
		img(src="assets/img/logo.svg")
		nav
			ul.menu
				li
					a(href="index.html")
						|HOME
				li
					a(href="servicos.html")
						|SERVIÇOS
				li
					a(href="contato.html")
						|CONTATO
      
div.banner 
	div.flexslider
		ul.slides
			li
				img(src="assets/img/banner-01.jpg")
			li
				img(src="assets/img/banner-01.jpg")
